<table class="table table-bordered table-hover" data-toggle="collapse">
  <thead>
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>Kategoria</th>
    <th>Licencja</th>
    <th>Liczba miejsc</th>
    <th>Rodzaj paliwa</th>
    <th>Limit załadunku</th>
    <th>Dostępność</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehicles">
    <th>{{vehicle.marka}}</th>
    <th>{{vehicle.model}}</th>
    <th>{{vehicle["kategoria-pojazdu"]}}</th>
    <th>{{vehicle.license}}</th>
    <th>{{vehicle["liczba-miejsc-ogolem"]}}</th>
    <th>{{vehicle["rodzaj-paliwa"]}}</th>
    <th>{{vehicle["max-ladownosc"]}}</th>
    <th>{{vehicle.availability}}</th>
  </tr>
  </tbody>
</table>
