<div class="container">
<p>Autorzy:</p>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Krzysztof Dudziak</li>
    <li class="breadcrumb-item active" aria-current="page">Arkadusz Iwaniuk</li>
    <li class="breadcrumb-item active" aria-current="page">Dominik Kroskowski</li>
    <li class="breadcrumb-item active" aria-current="page">Mateusz Paszkiewicz</li>
    <li class="breadcrumb-item active" aria-current="page">Michał Połom</li>
    </ol>
  </nav>
</div>
