<div class="container">
  <app-header></app-header>
  <h3>iVesta</h3>
  <nav class="navbar navbar-expand-sm">
    <div class="btn-group col-md-6" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLink="/drivers">Drivers</button>
      <button type="button" class="btn btn-secondary" routerLink="#">Routes</button>
      <button type="button" class="btn btn-secondary" routerLink="#">Vehicles</button>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>


