<div class="container">
  <div class="border border-1">
    <app-header></app-header>
    <br>
    <nav class="navbar navbar-expand-sm">
      <div class="btn-group col-md-6" role="group" aria-label="Basic example">
        <button type="button" class="btn" routerLink="home">Home</button>
        <button type="button" class="btn" routerLink="/drivers">Drivers</button>
        <button type="button" class="btn" routerLink="/routes">Routes</button>
        <button type="button" class="btn" routerLink="/vehicles">Vehicles</button>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <br>
    <app-footer></app-footer>
  </div>
</div>
