<h1>Dodaj nowego kierowcę:</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <h6>Podaj imię:</h6>
  <input type="text" name="name" class="form-control" formControlName="name">
  <h6>Podaj nazwisko:</h6>
  <input type="text" name="lastName" class="form-control" formControlName="lastName">
  <h6>Podaj numer telefonu:</h6>
  <input type="text" name="phoneNumber" class="form-control" formControlName="phoneNumber">
  <h6>Wybierz posiadane licencje:</h6>
  <mat-form-field>
    <mat-select class="form-control" formControlName="license">
    <mat-label>Add licence</mat-label>
      <mat-option value="C">C</mat-option>
      <mat-option value="C+E">C+E</mat-option>
    </mat-select>
  </mat-form-field>

  <button (submit)="submit()">Dodaj kierowcę</button>
</form>
