<ng-container id="driverAdd">
  <div id="driver-card" class="card text-center shadow" style="width: 50rem;">
    <div class="card-body">
      <h1>Dodaj nowy pojazd:</h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="form-group col col-md-5" [class.was-validated]="form.controls['brand'].touched">
            <label for="input-marka"></label>
            <input id="input-marka" type="text" name="brand" class="form-control" formControlName="brand"
                   required placeholder="Marka">
          </div>
          <div class="form-group col col-md-5" [class.was-validated]="form.controls['model'].touched">
            <label for="input-model"></label>
            <input id="input-model" type="text" name="model" class="form-control" formControlName="model"
                   required placeholder="Model">
          </div>
        </div>
        <div class="row">
          <mat-form-field class="set-status picked-license-avia col-md-5" appearance="fill">
            <mat-label>Kategoria pojazdu</mat-label>
            <mat-select class="form-control" formControlName="vehicleCategory" required>
              <mat-option value="passengers">Osobowy</mat-option>
              <mat-option value="cargo">Ciężarowy</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="set-status picked-license-avia col-md-5" appearance="fill"
                          [class.was-validated]="form.controls['fuelType'].touched">
            <mat-label>Rodzaj paliwa</mat-label>
            <mat-select class="form-control" formControlName="fuelType" required>
              <mat-option [value]="fuelType.name" *ngFor="let fuelType of FUEL_TYPE">{{fuelType.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="form-group col col-md-5" [class.was-validated]="form.controls['numberOfSeats'].touched">
            <label for="liczbaMiejsc"></label>
            <input id="liczbaMiejsc" type="number" min="1" name="numberOfSeats" class="form-control"
                   formControlName="numberOfSeats"
                   required placeholder="Liczba miejsc">
          </div>
          <div class="form-group col col-md-5" [class.was-validated]="form.controls['weightLimit'].touched">
            <label for="maxLadownosc"></label>
            <input id="maxLadownosc" type="number" min="1" name="weightLimit" class="form-control"
                   formControlName="weightLimit"
                   required placeholder="Ładowność">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="checkbox-list">
            <div class="set-license form row">
              <mat-form-field class="picked-license-avia col-md-5" appearance="fill">
                <mat-label>Wymagana licencja</mat-label>
                <mat-select class="form-control" formControlName="license" required>
                  <mat-option [value]="license.name" *ngFor="let license of LICENSES">{{license.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="picked-license-avia col-md-5" appearance="fill">
                <mat-label>Wybierz status</mat-label>
                <mat-select class="form-control" formControlName="availability" required>
                  <mat-option value="active">Aktywny</mat-option>
                  <mat-option value="inactive">Nieaktywny</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-secondary" routerLink="..">Powrót</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" (submit)="submit()">Dodaj pojazd</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
