<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card text-center shadow" style="width: 30rem">
    <div class="card-body">
      <div class="row">
        <div class="col col-md-12">
          <div class="form-group form-control">
            <label for="route-driver"></label>
            <input id="route-driver" type="text" name="driver" class="form-control" formControlName="driver"
                   value="{{avRoute?.driver?.name}} {{avRoute?.driver?.lastName}}">
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <br>
            <button class="btn btn-primary col-md-12" (click)="availableDrivers()">Pobierz dostępnych kierowców</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="available-drivers-for-date">
              <br>
              <div class="form-control form-group col-md-12">
                <label class="sbw_light">Dostępni kierowcy:</label><br/>
                <select formControlName="driverId">
                  <option *ngFor="let driver of avDriver" [value]=driver.id>
                    {{driver.name}} {{driver.lastName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-md-6 float-end">
          <button class="btn btn-secondary float-end" routerLink="../..">Powrót</button>
        </div>
        <div class="col col-md-6">
          <button class="btn btn-primary" (submit)="submit">
            Zapisz kierowcę
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
