<ng-container id="routeAdd">
  <div id="route-card" class="card border-secondary text-center shadow" style="width: 50rem;">
    <div class="card-header">Dodaj nową trasę:</div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="form-group col" [class.was-validated]="form.controls['startAddress'].touched">
            <mat-form-field appearance="fill">
              <mat-label for="input-start-address">Adres początkowy</mat-label>
              <input matInput id="input-start-address" type="text" name="startAddress" class="form-control"
                     required
                     formControlName="startAddress">
            </mat-form-field>
          </div>
          <div class="form-group col" [class.was-validated]="form.controls['destinationAddress'].touched">
            <mat-form-field appearance="fill">
              <mat-label for="input-destination-address">Adres końcowy</mat-label>
              <input matInput id="input-destination-address" type="text" name="destinationAddress" class="form-control"
                     required
                     formControlName="destinationAddress">
            </mat-form-field>
          </div>
          <div class="form-group col" [class.was-validated]="form.controls['routeLength'].touched">
            <mat-form-field appearance="fill">
              <mat-label for="routeLength">Długość trasy</mat-label>
              <input matInput id="routeLength" type="number" min="1" name="routeLength" class="form-control"
                     formControlName="routeLength"
                     required>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="checkbox-list">
            <div class="set-transport-type row" [class.was-validated]="form.controls['transportType'].touched">
              <mat-form-field class="picked-transport-type-avia col" appearance="fill">
                <mat-label>Wybierz rodzaj transportu:</mat-label>
                <mat-select class="form-control" formControlName="transportType">
                  <mat-option value="PASSENGERS">Transport osób</mat-option>
                  <mat-option value="CARGO">Transport towarów</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="form-group col" [class.was-validated]="form.controls['transportVolume'].touched">
                <mat-form-field appearance="fill">
                  <mat-label for="input-transport-volume">Ilość osób/towaru [kg]</mat-label>
                  <input matInput id="transportVolume" type="number" min="1" name="transportVolume" class="form-control"
                         required
                         formControlName="transportVolume">
                </mat-form-field>
              </div>
              <mat-form-field appearance="fill" class="col">
                <mat-label>Wybierz datę dostawy</mat-label>
                <input matInput type="date" formControlName="date">
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <button class="btn btn-secondary" routerLink="..">Powrót</button>
            </div>
            <div class="col">
              <button class="btn btn-primary" (submit)="submit()">Dodaj trasę</button>
            </div>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>
</ng-container>
